{
  "presets": ["env", "stage-0"],
  "ignore": [
    "J:/webpack_demo/src/lib/mui/js/mui.js"
  ],
  "plugins": ["transform-runtime", ["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]]
}